# Core Dependencies
cloudscraper>=1.2.71      # Bypass anti-scraping measures
beautifulsoup4>=4.12.2     # HTML parsing
requests>=2.31.0           # HTTP client
pandas>=2.1.4             # Data manipulation and analysis
googletrans==3.1.0a0      # Translation service

# Dependencies
urllib3>=2.1.0             # URL handling
lxml>=4.9.3                # Fast XML/HTML parser
python-dateutil>=2.8.2     # Date/time handling
certifi>=2023.11.17        # SSL certificates
charset-normalizer>=3.3.2  # Character encoding detection
cffi>=1.14
anyio>=3.6.2
httpcore==1.*
h11>=0.16
wassima>=1.0.1,<2.0.0
ppft>=1.7.7
dill>=0.4.0
pox>=0.3.6
multiprocess>=0.70.18